xterm*faceName: xft:Ubuntu Mono:pixelsize=13
!*customization: -color
XTerm*termName:  xterm-256color
!!lightmonad: 3C3 = 6 combinations
!*background: #fcffdd
!*foreground: #5e5e58
!*cursorColor: #5e5e58
!*color0: #666666
!*color1: #ba3e73
!*color2: #73ba3e
!*color3: #ba733e
!*color4: #3e73ba
!*color5: #733eba
!*color6: #3eba73
!*color7: #aaaaaa
!*color8: #434343
!*color9: #87284d
!*color10: #4d8728
!*color11: #874d28
!*color12: #284d87
!*color13: #4d2887
!*color14: #28874d
!*color15: #8a8a8a
!
!Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized

!
!! Common
!
#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900
!
!
!! Dark
!
#define S_base03 #002b36
#define S_base02 #073642
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3
!
!
!! Light
!
!! #define S_base03 #fdf6e3
!! #define S_base02 #eee8d5
!! #define S_base01 #93a1a1
!! #define S_base00 #839496
!! #define S_base0 #657b83
!! #define S_base1 #586e75
!! #define S_base2 #073642
!! #define S_base3 #002b36
!
!

*background: S_base03
*foreground: S_base0
*fading: 40
*fadeColor: S_base03
*cursorColor: S_base1
*pointerColorBackground: S_base01
*pointerColorForeground: S_base1

*color0: S_base02
*color1: S_red
*color2: S_green
*color3: S_yellow
*color4: S_blue
*color5: S_magenta
*color6: S_cyan
*color7: S_base2
*color9: S_orange
*color8: S_base03
*color10: S_base01
*color11: S_base00
*color12: S_base0
*color13: S_violet
*color14: S_base1
*color15: S_base3
